<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.meltube.mappers.MusicUserLikeMapper">
    <delete id="delete">
        DELETE
        FROM `meltube`.`music_user_likes`
        WHERE `music_index` = #{musicIndex}
          AND `user_email` = #{userEmail}
        LIMIT 1
    </delete>

    <insert id="insert">
        INSERT INTO `meltube`.`music_user_likes` (`music_index`, `user_email`, `created_at`)
        VALUES (#{musicUserLike.musicIndex}, #{musicUserLike.userEmail}, #{musicUserLike.createdAt})
    </insert>

    <select id="selectByMusicIndexAndUserEmail" resultType="com.hjs.meltube.entities.MusicUserLikeEntity">
        SELECT `music_index` AS `musicIndex`,
               `user_email`  AS `userEmail`,
               `created_at`  AS `createdAt`
        FROM `meltube`.`music_user_likes`
        WHERE `music_index` = #{musicIndex}
          AND `user_email` = #{userEmail}
        LIMIT 1
    </select>
</mapper>