@charset "UTF-8";

@use "sass:color";
@import "./_def";
@import "./index/main";

#gradient {
  top: 0;
  right: 0;
  width: 200vw;
  height: 200vh;
  background: $global-color-background;
  background: radial-gradient(circle, #893d6c 0%, #624393 50%, $global-color-background 100%);
  margin: -100vh -100vw;
  position: fixed;
}

#intro {
  @include flex(column, center, center, 1rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $global-color-background;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 9;

  &[data-mt-visible] {
    opacity: 1;
    pointer-events: auto;
  }

  &[data-mt-phase="1"] {
    > .logo {
      top: 0;
      opacity: 1;
    }
  }

  > .logo {
    @include fixedSize(5rem);
    top: 0.5rem;
    object-fit: contain;
    object-position: center;
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition-duration: 175ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }
}

#loading {
  @include fixedSize(100%);
  @include flex(column, center, center, 1.5rem);
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5rem);
  background-color: color.adjust($global-color-background, $alpha: -0.25);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 9;

  &[data-mt-visible] {
    opacity: 1;
    pointer-events: auto;

    > .icon,
    > .caption {
      top: 0;
      opacity: 1;
    }
  }

  > .icon,
  > .caption {
    top: 0.5rem;
    opacity: 0;
    position: relative;
    transition-duration: 175ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }

  > .icon {
    @keyframes anim {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
    @include fixedSize(4rem);
    animation-duration: 1000ms;
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    object-fit: contain;
    object-position: center;
  }

  > .caption {
    font-size: 1.25rem;
    font-weight: 200;
    transition-delay: 125ms;
  }
}

#youtubePlayer {
  @include fixedSize(5rem);
  top: 0;
  left: 0;
  opacity: 0.5; /* 나중엔 숨기기 */
  pointer-events: none;
  position: fixed;
}











